@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://voskoboynikov-roman.azurewebsites.net/">My first web app> Roman VOSKOBOYNIKOV.</a> </p>
</div>
